__pycache__
_build
.DS_Store
.idea/
.vscode/
/*env*/
docs/_dev/.doctrees/*
docs/_dev/.wordlist.dic
docs/_dev/node_modules/
docs/_dev/requirements.txt
docs/_dev/styles/*
docs/_dev/vale.ini
docs/_dev/warnings.txt
docs/.venv/
package*.json
venv/
.workshop.lock
