__pycache__
_build
.DS_Store
.idea/
.vscode/
/*env*/
docs/.sphinx/.doctrees/*
docs/.sphinx/.wordlist.dic
docs/.sphinx/node_modules/
docs/.sphinx/requirements.txt
docs/.sphinx/styles/*
docs/.sphinx/vale.ini
docs/.sphinx/venv/
docs/.sphinx/warnings.txt
package*.json
venv/
.workshop.lock
